<% content_for(:page_header) do %>
    <%= t(".contact_list") %>
    <%= link_to content_tag(:i, "", class: "fa fa-plus-circle") + " New contact", new_contact_path, class: "btn btn-primary pull-right" %>
<% end %>

<table id= "contacts" class="display table table-striped table-sm table-hover">
  <thead>
    <tr>
      <th><%= t(".name") %></th>
      <th><%= t("actions") %></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= link_to contact.name, contact %></td>
        <td>
          <%= link_with_icon "pencil-square-o", edit_contact_path(contact), title: t("edit") %>
          <%= link_with_icon "trash-o", contact, method: :delete, data: { confirm: 'Are you sure?' }, title: t("delete") %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% content_for(:extra_scripts) do %>
  $(document).ready(function() {
    $('#contacts').DataTable({ responsive:
      true<%= ', searching: false, paging: false, info: false' if @contacts.count <= 10 %>  });
  });
<% end %>
